.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-right: 2rem;
  position: relative;

  .icon {
    font-size: 2rem;
  }

  .itemImg {
    display: block;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
  }

  .counter {
    background-color: red;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 1rem;
    top: -0.5rem;
    right: -0.5rem;
    font-weight: bold;
    color: white;
  }
}
